version: "3.8"
services:
    nodeserver:
        build:
            context: ./app
        ports:
            - "8000:8000"
    nginx:
        restart: always
        build:
            context: ./nginx
        ports:
            - "80:80"